@font-face {
    font-family: 'iconfont';  /* project id 295320 */
    src: url('//at.alicdn.com/t/font_2o8ex2pbzh2p4x6r.eot');
    src: url('//at.alicdn.com/t/font_2o8ex2pbzh2p4x6r.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2o8ex2pbzh2p4x6r.woff') format('woff'),
    url('//at.alicdn.com/t/font_2o8ex2pbzh2p4x6r.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2o8ex2pbzh2p4x6r.svg#iconfont') format('svg');
}
